.executeBtn {
    width: 100px;
    right: auto;
    position: relative;
    transform-origin: center;
    display: flex;
}
.unity-label {
    width: 80px;
    min-width: 60px;
    margin-left: 3px;
    -unity-text-align: middle-left;
}